body {
    background: url(library.jpg) no-repeat center fixed;
    background-size: cover;
    height: 100vh;
    text-align: center;
    color: black;
}

.congrats {
    background-color: rgb(190, 190, 160, 0.9);
    padding: 1% 1% 1% 1%;
    width: 100%;
    margin: auto;
    font-size: 250%;
    font-family: 'Great Vibes', cursive;
}

.lead {
    color: white;
    font-size: 500%;
    height: 25%;
    margin-top: 5%;
    font-family: 'Great Vibes', cursive;
}

.table {
    border: 1px solid white;
    background-color: rgb(190, 190, 160, 0.7);
    width: 50%;
    margin: auto;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 150%;
}