body{
    background-color:#F3E1BD;
    margin-top: 30px;
}
.col-4{
    height: 50%;
}
.card{
    text-align: inherit;
}
.btn {
    margin-top: 15px;
    margin-bottom: 15px;
}
img{
    max-width:100%;
}

.room {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 1em;
}
.room-title {
    grid-column-start: 1;
    grid-column-end: 3;
}
.room-map-button {
    grid-column-start: 1;
    grid-column-end: 3;
}
.room-list {
    border-radius: 5px;
    background-color: white;
    padding: 2em;
}
.room-img {
    border-radius: 5px;

}
li{
    list-style-type: none;
}
button{
    border-radius: 5px;
    border-style: none;
    margin-bottom: 5px;
    color:white;
    background-color: grey;
}
button:hover{
    background-color: burlywood;
}
