<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Game</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
   <header>
   </header>

<div class="container">
  <div class="row">
    <div class="col-4">
      <div class="card">
      <div class="card-body">
      Text where we can see what is happening.
      </div>
      </div>
    </div>

      <div class="col-8">
        <div class="card">
        <div class="card-body">
        Main display.
        </div>
        </div>
      </div>
  </div>

  <div class="row">
    <div class="col-4">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#map">Launch demo modal</button>

      <div class="modal fade" id="map" tabindex="-1" role="dialog" aria-labelledby="map" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable" role="document">
      <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="map">Mansion Map</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      </div>
  
      <div class="modal-body">
        <img src="https://image.noelshack.com/fichiers/2019/27/3/1562160073-2019-sekiro-shadows-die-twice-5k-11-3840x2160.jpg"/>
      </div>
      </div>
      </div>
      </div>
    </div>
  </div>
  

  <div class="row">
    <div class="col-12">
      <div class="card">
      <div class="card-body">
      Dialogue.
      </div>
      </div>
    </div>
  </div>
</div>
</body>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>