<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Titre de la page</title>
  <link rel="stylesheet" th:href="@{/mapgrid.css}" href="../static/mapgrid.css">
  <script src="script.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300&display=swap" rel="stylesheet"> 
</head>
<body>
  <div class="wrapper">
    <div class="item item1">Library</div>
    <div class="item item2">Kitchen</div>
    <div class="item item3">Salon</div>
    <div class="item item4">Hall</div>
    <div class="item item5">Reception</div>
    <div class="item item6">Office</div>
</div>
</body>
</html>